[user]
  name      = YutaMiyake
  email     = ymiyake@nevada.unr.edu

[url "ssh://git@github.com/"]
 insteadOf = https://github.com/

[alias]
  s = status -s
  co = commit
  cp = cherry-pick
  ch = checkout
  re = rebase

  l    = log --pretty=oneline --graph --abbrev-commit
  lg   = log --graph --all --decorate
  lgo  = log --graph --all --decorate  --oneline

  empty = commit --allow-empty -m 'first commit'

  # goto a branch which is created if necessary
  goto = "!f() { git checkout -b $1 2> /dev/null || git checkout $1; }; f"

  # delete merged branches
  dm = "!git branch --merged | egrep -v 'master' | xargs git branch -d"
  dmo = "!git branch -r --merged master | egrep -v 'master' | sed -e 's% *origin/%%' | xargs -I% git push --delete origin %"

  branches = branch -a
  aliases = config --get-regexp alias

[push]
  # git push always push the current branch to the remote
  default = current 

[remote "upstream"]
  pushurl = no-pushing

[branch]
  autosetuprebase = always

[core]
  editor = nvim
	excludesfile = /Users/a90181/.gitignore_global
	pager = less -cm

[commit]
  verbose = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
